{% set server = salt['grains.filter_by']({
    'Debian': {
        'check_result_path': '/var/lib/nagios3/spool/checkresults',
        'command_file': '/var/lib/nagios3/rw/nagios.cmd',
        'conf': '/etc/nagios3/nagios.cfg',
        'cfg_dir': ['/etc/nagios3/conf.d', '/etc/nagios-plugins/config'],
        'cfg_file': ['/etc/nagios3/commands.cfg'],
        'debug_file': '/var/log/nagios3/nagios.debug',
        'lock_file': '/var/run/nagios3/nagios3.pid',
        'log': '/var/log/nagios3/nagios.log',
        'log_archive_path': '/var/log/nagios3/archives',
        'object_cache': '/var/cache/nagios3/objects.cache',
        'p1_file': '/usr/lib/nagios3/p1.pl',
        'plugin_dir': '/usr/lib/nagios/plugins',
        'plugins': 'nagios-plugins',
        'precached_object_file': '/var/lib/nagios3/objects.precache',
        'resource_file': '/etc/nagios3/resource.cfg',
        'package': 'nagios3',
        'cgi_package': 'nagios3-cgi',
        'service': 'nagios3',
        'state_retention_file': '/var/lib/nagios3/retention.dat',
        'status_file': '/var/cache/nagios3/status.dat',
        'temp_file': '/var/cache/nagios3/nagios.tmp',
        'ui': {
          'cgi_conf': '/etc/nagios3/cgi.cfg',
          'url_html_path': '/nagios3',
          'package': 'nagios3-cgi',
          'htpasswd_file': '/etc/nagios3/htpasswd.users',
          'physical_html_path': '/usr/share/nagios3/htdocs',
          'apache_service': 'apache2',
          'apache_config': '/etc/nagios3/apache2.conf',
          'apache_log_dir': '/var/log/apache2/',
          'nagios_check_command': '/usr/lib/nagios/plugins/check_nagios /var/cache/nagios3/status.dat 5 \'/usr/sbin/nagios3\'',
          'basic_auth': {
            'username': 'nagiosadmin',
            'password': 'nagios',
          },
        }
    },
    'RedHat': {
        'check_result_path': '/var/log/nagios/spool/checkresults',
        'command_file': '/var/spool/nagios/cmd/nagios.cmd',
        'conf': '/etc/nagios/nagios.cfg',
        'cfg_dir': ['/etc/nagios/conf.d', '/etc/nagios-plugins/config'],
        'cfg_file': ['/etc/nagios/commands.cfg'],
        'debug_file': '/var/log/nagios/nagios.debug',
        'lock_file': '/var/run/nagios.pid',
        'log': '/var/log/nagios/nagios.log',
        'log_archive_path': '/var/log/nagios/archives',
        'object_cache': '/var/log/nagios/objects.cache',
        'p1_file': '/usr/sbin/p1.pl',
        'plugin_dir': '/usr/lib/nagios/plugins',
        'plugins': 'nagios-plugins',
        'precached_object_file': '/var/log/nagios/objects.precache',
        'resource_file': '/etc/nagios/private/resource.cfg',
        'package': 'nagios',
        'cgi_package': None,
        'service': 'nagios',
        'state_retention_file': '/var/log/nagios/retention.dat',
        'status_file': '/var/log/nagios/status.dat',
        'temp_file': '/var/log/nagios/nagios.tmp',
        'ui': {
          'cgi_conf': '/etc/nagios/cgi.cfg',
          'url_html_path': '/nagios3',
          'package': None,
          'htpasswd_file': '/etc/nagios/htpasswd.users',
          'physical_html_path': '/usr/share/nagios/html',
          'apache_service': 'httpd',
          'apache_config': '/etc/nagios/apache2.conf',
          'apache_log_dir': '/var/log/httpd/',
          'nagios_check_command': '/usr/lib64/nagios/plugins/check_nagios -F /var/log/nagios/status.dat -e 5 -C /usr/sbin/nagios',
          'basic_auth': {
            'username': 'nagiosadmin',
            'password': 'nagios',
          },
        }
    },
}, merge=salt['pillar.get']('nagios:server')) %}
