{% set nagios = salt['grains.filter_by']({
    'Debian': {
        'cgi_conf': '/etc/nagios3/cgi.cfg',
        'check_result_path': '/var/lib/nagios3/spool/checkresults',
        'command_file': '/var/lib/nagios3/rw/nagios.cmd',
        'conf': '/etc/nagios3/nagios.cfg',
        'debug_file': '/var/log/nagios3/nagios.debug',
        'lock_file': '/var/run/nagios3/nagios3.pid',
        'log': '/var/log/nagios3/nagios.log',
        'log_archive_path': '/var/log/nagios3/archives',
        'object_cache': '/var/cache/nagios3/objects.cache',
        'p1_file': '/usr/lib/nagios3/p1.pl',
        'plugin_dir': '/usr/lib/nagios/plugins',
        'plugins': 'nagios-plugins',
        'precached_object_file': '/var/lib/nagios3/objects.precache',
        'resource_file': '/etc/nagios3/resource.cfg',
        'package': 'nagios3',
        'service': 'nagios3',
        'state_retention_file': '/var/lib/nagios3/retention.dat',
        'status_file': '/var/cache/nagios3/status.dat',
        'temp_file': '/var/cache/nagios3/nagios.tmp',
    },
    'RedHat': {
        'cgi_conf': '/etc/nagios/cgi.cfg',
        'check_result_path': '/var/log/nagios/spool/checkresults',
        'command_file': '/var/spool/nagios/cmd/nagios.cmd',
        'conf': '/etc/nagios/nagios.cfg',
        'debug_file': '/var/log/nagios/nagios.debug',
        'lock_file': '/var/run/nagios.pid',
        'log': '/var/log/nagios/nagios.log',
        'log_archive_path': '/var/log/nagios/archives',
        'object_cache': '/var/log/nagios/objects.cache',
        'p1_file': '/usr/sbin/p1.pl',
        'plugin_dir': '/usr/lib/nagios/plugins',
        'plugins': 'nagios-plugins',
        'precached_object_file': '/var/log/nagios/objects.precache',
        'resource_file': '/etc/nagios/private/resource.cfg',
        'package': 'nagios',
        'service': 'nagios',
        'state_retention_file': '/var/log/nagios/retention.dat',
        'status_file': '/var/log/nagios/status.dat',
        'temp_file': '/var/log/nagios/nagios.tmp',
    },
}, merge=salt['pillar.get']('nagios')) %}
