Source: salt-formula-nagios
Maintainer: Swann Croiset <scroiset@mirantis.com>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9), salt-master, python, python-yaml
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-nagios
Vcs-Git: https://github.com/tcpcloud/salt-formula-nagios.git

Package: salt-formula-nagios
Architecture: all
Depends: ${misc:Depends}
Description: nagios salt formula
 Install and configure nagios system.
