# Nagios variables: https://assets.nagios.com/downloads/nagioscore/docs/nagioscore/3/en/macrolist.html
define command {
        command_name    notify-service-by-sfdc
        command_line /usr/bin/printf "%b" "Notification Type: $NOTIFICATIONTYPE$ \n \
                State: $SERVICESTATE$\n\n \
                Date/Time: $LONGDATETIME$ \n \
                Host: $HOSTALIAS$ (Address: $HOSTADDRESS$)\n \
                Service: $SERVICEDESC$ \n \
                Additional Info:\n \
                $SERVICEOUTPUT$\n \
                $LONGSERVICEOUTPUT$\n\n \
                Comment: $NOTIFICATIONCOMMENT$"| {{ sfdc_params.sfdc_plugin }} \
                               -c {{ sfdc_params.sfdc_config_file }}  \
                               --long_date_time "$LONGDATETIME$" \
                               --description "-" \
                               --host_name "$HOSTNAME$" \
                               --service_description "$SERVICEDESC$" \
                               --notification_type "$NOTIFICATIONTYPE$" \
                               --state "$SERVICESTATE$" \
                               --debug \
                               --log_file "{{ sfdc_params.log_file }}"
}

define command {
        command_name    notify-host-by-sfdc
        command_line /usr/bin/printf "%b" "Notification Type: $NOTIFICATIONTYPE$ \n \
                State: $HOSTSTATE$\n\n \
                Date/Time: $LONGDATETIME$ \n \
                Host: $HOSTALIAS$ (Address: $HOSTADDRESS$)\n \
                Additional Info:\n \
                $HOSTOUTPUT$\n$LONGHOSTOUTPUT$\n\n \
                Comment: $NOTIFICATIONCOMMENT$"| {{ sfdc_params.sfdc_plugin }}  \
                               -c {{ sfdc_params.sfdc_config_file }} \
                               --long_date_time "$LONGDATETIME$" \
                               --description "-" \
                               --host_name "$HOSTNAME$" \
                               --notification_type "$NOTIFICATIONTYPE$" \
                               --state  "$HOSTSTATE$" \
                               --debug \
                               --log_file "{{ sfdc_params.log_file }}"
}
